name: CRONJOB
on:
  schedule:
    - cron: "*/5 * * * *"
      
jobs:
  webhook:
    
    runs-on: ubuntu-latest
    steps:
       - name: Webhook_test
       - run: echo -n -e "HELLO\n !\n World!"
          
